<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
<head>
    <meta http-equiv="Content-Type">
    <meta content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>HTML5触屏滑动效果公司招聘专题页面</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" type="text/css" href="../resource/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../resource/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../resource/css/animations.css" />
</head>
<body>
<div class="container">
    <div class="pageGroup">
        <div class="page page-1-1 page-current">
            <div class="wrap">
                <img class="img_1 pt-page-moveFromTop" src="../resource/img/cover.png" />
                <img class="img_2 pt-page-moveFromLeft" src="../resource/img/wording_cover.png" />
                <img class="img_3 pt-page-moveIconUp" src="../resource/img/icon_up.png" />
            </div>
        </div>
    </div>
    <div class="pageGroup">
        <div class="page page-2-1 hide">
            <div class="wrap">
                <img class="img_1 hide pt-page-moveFromBottom" src="../resource/img/wording.png" />
                <img class="img_2 hide pt-page-moveCircle" src="../resource/img/circle.png" />
                <img class="img_3 hide pt-page-moveFromLeft" src="../resource/img/people.png" />
                <img class="img_4 hide pt-page-scaleUp" src="../resource/img/dot1.png" />
                <img class="img_5 hide pt-page-scaleUp" src="../resource/img/check_develop.png" />
                <img class="img_6 hide pt-page-moveIconUp" src="../resource/img/icon_up.png" />
                <img class="img_7 hide pt-page-scaleUp" src="../resource/img/floating_develop.png" />
            </div>
        </div>
        <div class="page page-2-2 hide">
            <div class="wrap">
                <img class="img_1 hide pt-page-flipInLeft" src="../resource/img/introduction.png" />
                <img class="img_2 hide pt-page-flipInLeft" src="../resource/img/btn_develop.png" />
                <img class="img_3 hide pt-page-flipInLeft" src="../resource/img/dot2.png" />
                <img class="img_6 hide pt-page-moveIconUp" src="../resource/img/icon_up.png" />
            </div>
        </div>
    </div>
    <div class="pageGroup">
        <div class="page page-3-1 hide">
            <div class="wrap">
                <img class="img_1 hide pt-page-moveFromBottom" src="../resource/img/wording_design.png" />
                <img class="img_2 hide pt-page-moveCircle" src="../resource/img/circle-design.png" />
                <img class="img_3 pt-page-moveFromBottom hide" src="../resource/img/people_design.png" />
                <img class="img_4 hide pt-page-scaleUp" src="../resource/img/dot1.png" />
                <img class="img_5 hide pt-page-scaleUp" src="../resource/img/check_design.png" />
                <img class="img_6 hide pt-page-moveIconUp" src="../resource/img/icon_up.png" />
                <img class="img_7 hide pt-page-scaleUp" src="../resource/img/floating_design.png" />
            </div>
        </div>
        <div class="page page-3-2 hide">
            <div class="wrap">
                <img class="img_1 hide pt-page-flipInLeft" src="../resource/img/introduction_design.png" />
                <img class="img_2 hide pt-page-flipInLeft" src="../resource/img/btn_design.png" />
                <img class="img_3 hide pt-page-flipInLeft" src="../resource/img/dot2.png" />
                <img class="img_6 hide pt-page-moveIconUp" src="../resource/img/icon_up.png" />
            </div>
        </div>
    </div>
    <div class="pageGroup">

        <div class="page page-4-1 hide">
            <div class="wrap">
                <img class="img_1 hide pt-page-moveFromBottom" src="../resource/img/wording_production.png" />
                <img class="img_2 hide pt-page-moveCircle" src="../resource/img/circle-production.png" />
                <img class="img_3 pt-page-moveFromRight hide" src="../resource/img/people_production.png" />
                <img class="img_4 hide pt-page-scaleUp" src="../resource/img/dot1.png" />
                <img class="img_5 hide pt-page-scaleUp" src="../resource/img/check_production.png" />
                <img class="img_6 hide pt-page-moveIconUp" src="../resource/img/icon_up.png" />
                <img class="img_7 hide pt-page-scaleUp" src="../resource/img/floating_production.png" />
                <img class="img_8 hide pt-page-scaleUp" src="../resource/img/pic_shadow_production.png" />
            </div>
        </div>

        <div class="page page-4-2 hide">
            <div class="wrap">
                <img class="img_1 hide pt-page-flipInLeft" src="../resource/img/introduction_production.png" />
                <img class="img_2 hide pt-page-flipInLeft" src="../resource/img/btn_production.png" />
                <img class="img_3 hide pt-page-flipInLeft" src="../resource/img/dot2.png" />
                <img class="img_6 hide pt-page-moveIconUp" src="../resource/img/icon_up.png" />
            </div>
        </div>
    </div>
    <div class="pageGroup">
        <div class="page page-5-1 hide">
            <div class="wrap">
                <img class="img_1 hide pt-page-rotateCubeBottomIn" src="../resource/img/pic_back.png" />
                <img class="img_2 hide pt-page-rotateCubeTopIn" src="../resource/img/btn_join.png" />
            </div>
        </div>
    </div>

</div>
<!--<script src="../resource/js/zepto.min.js"></script>-->
<script src="../resource/js/jquery-1.11.3.min.js"></script>
<script src="../resource/js/touch.js"></script>
<script src="../resource/js/index.js"></script>
<script>
    window.onload = function(){
        var swiper = new Swiper('.container',{});
    }
   /* var container = '.container';
    var target = container+' .page-current';
    console.log('target:'+target);
    var now = {row: 1, col: 1}, last = {row: 0, col: 0};
    const towards = {up: 1, right: 2, down: 3, left: 4};
    var isAnimating = false;

    var screen_scale = window.innerHeight / 500;
    //console.log('screen_scale:'+screen_scale);
    var enlarge_top = 250 * (1 - screen_scale);//放大后超出页面上面的部分
    //console.log('enlarge_top:'+enlarge_top);
    $('.wrap').css('-webkit-transform', 'scale(' + screen_scale + ',' + screen_scale + ') translate(0px,-' + enlarge_top + 'px)');

    console.log('touch:'+touch);

    touch.on(container, 'touchstart', function (event) {
        //console.log('touchstart...');
        event.preventDefault();
    });

    touch.on(container,'swipeup', function (ev) {
        if (isAnimating) return;
        //console.log('swipeup...');
        last.row = now.row;
        last.col = now.col;
        if (last.row != $(container + ' .pageGroup').length) {
            now.row = last.row + 1;
            now.col = 1;
            pageMove(towards.up);
        }
        else {
            now.row = 1;
            now.col = 1;
            pageMove(towards.up);
        }
    });

    touch.on(container, 'swipedown', function (ev) {
        if (isAnimating) return;
        last.row = now.row;
        last.col = now.col;
        now.col = 1;
        if (last.row != 1) {
            now.row = last.row - 1;
            pageMove(towards.down);
        }
        else {
            now.row = $(container + ' .pageGroup').length;
            pageMove(towards.down);
        }
    });

    function pageMove(tw) {
        var nowPage = $($(container + ' .pageGroup')[now.row - 1]).children('.page')[now.col - 1];
        console.log('nowPage:'+nowPage);
        var lastPage = $($(container + ' .pageGroup')[last.row - 1]).children('.page')[last.col - 1];
        console.log('lastPage:'+lastPage);

        switch (tw) {
            case towards.up:
                outClass = 'pt-page-moveToTop';
                inClass = 'pt-page-moveFromBottom';
                break;
            case towards.right:
                outClass = 'pt-page-moveToRight';
                inClass = 'pt-page-moveFromLeft';
                break;
            case towards.down:
                outClass = 'pt-page-moveToBottom';
                inClass = 'pt-page-moveFromTop';
                break;
            case towards.left:
                outClass = 'pt-page-moveToLeft';
                inClass = 'pt-page-moveFromRight';
                break;
        }
        isAnimating = true;//正在进行动画
        $(nowPage).removeClass("hide");

        $(lastPage).addClass(outClass);
        $(nowPage).addClass(inClass);

        setTimeout(function () {
            $(lastPage).removeClass('page-current');
            $(lastPage).removeClass(outClass);
            $(lastPage).addClass("hide");
            $(lastPage).find("img").addClass("hide");

            $(nowPage).addClass('page-current');
            $(nowPage).removeClass(inClass);
            $(nowPage).find("img").removeClass("hide");

            isAnimating = false;
        }, 600);

        //console.log('lastPage:'+lastPage.className);
        //console.log('nowPage:'+nowPage.className);
    }*/
</script>
</body>
</html>
