<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
<head>
    <meta http-equiv="Content-Type">
    <meta content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>HTML5触屏滑动效果公司招聘专题页面</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" type="text/css" href="../resource/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../resource/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../resource/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../resource/css/animations.css" />
</head>
<body>
<div class="container">
    <div class="pageGroup">
        <div class="page page-1-1 hide">
            <div class="wrap">
                <img class="img_1 hide pt-page-moveFromTop" src="../resource/img/cover.png" />
                <img class="img_2 hide pt-page-moveFromLeft" src="../resource/img/wording_cover.png" />
                <img class="img_3 hide pt-page-moveIconUp" src="../resource/img/icon_up.png" />
            </div>
        </div>
    </div>
    <div class="pageGroup">
        <div class="page page-2-1 hide">
            <div class="wrap">
                <img class="img_1 hide pt-page-moveFromBottom" src="../resource/img/wording.png" />
                <img class="img_2 hide pt-page-moveCircle" src="../resource/img/circle.png" />
                <img class="img_3 hide pt-page-moveFromLeft" src="../resource/img/people.png" />
                <img class="img_4 hide pt-page-scaleUp" src="../resource/img/dot1.png" />
                <img class="img_5 hide pt-page-scaleUp" src="../resource/img/check_develop.png" />
                <img class="img_6 hide pt-page-moveIconUp" src="../resource/img/icon_up.png" />
                <img class="img_7 hide pt-page-scaleUp" src="../resource/img/floating_develop.png" />
            </div>
        </div>
        <div class="page page-2-2 hide">
            <div class="wrap">
                <img class="img_1 hide pt-page-flipInLeft" src="../resource/img/introduction.png" />
                <img class="img_2 hide pt-page-flipInLeft" src="../resource/img/btn_develop.png" />
                <img class="img_3 hide pt-page-flipInLeft" src="../resource/img/dot2.png" />
                <img class="img_6 hide pt-page-moveIconUp" src="../resource/img/icon_up.png" />
            </div>
        </div>
    </div>
    <div class="pageGroup">
        <div class="page page-3-1 hide">
            <div class="wrap">
                <img class="img_1 hide pt-page-moveFromBottom" src="../resource/img/wording_design.png" />
                <img class="img_2 hide pt-page-moveCircle" src="../resource/img/circle-design.png" />
                <img class="img_3 pt-page-moveFromBottom hide" src="../resource/img/people_design.png" />
                <img class="img_4 hide pt-page-scaleUp" src="../resource/img/dot1.png" />
                <img class="img_5 hide pt-page-scaleUp" src="../resource/img/check_design.png" />
                <img class="img_6 hide pt-page-moveIconUp" src="../resource/img/icon_up.png" />
                <img class="img_7 hide pt-page-scaleUp" src="../resource/img/floating_design.png" />
            </div>
        </div>
        <div class="page page-3-2 hide">
            <div class="wrap">
                <img class="img_1 hide pt-page-flipInLeft" src="../resource/img/introduction_design.png" />
                <img class="img_2 hide pt-page-flipInLeft" src="../resource/img/btn_design.png" />
                <img class="img_3 hide pt-page-flipInLeft" src="../resource/img/dot2.png" />
                <img class="img_6 hide pt-page-moveIconUp" src="../resource/img/icon_up.png" />
            </div>
        </div>
    </div>
    <div class="pageGroup">

        <div class="page page-4-1 hide">
            <div class="wrap">
                <img class="img_1 hide pt-page-moveFromBottom" src="../resource/img/wording_production.png" />
                <img class="img_2 hide pt-page-moveCircle" src="../resource/img/circle-production.png" />
                <img class="img_3 pt-page-moveFromRight hide" src="../resource/img/people_production.png" />
                <img class="img_4 hide pt-page-scaleUp" src="../resource/img/dot1.png" />
                <img class="img_5 hide pt-page-scaleUp" src="../resource/img/check_production.png" />
                <img class="img_6 hide pt-page-moveIconUp" src="../resource/img/icon_up.png" />
                <img class="img_7 hide pt-page-scaleUp" src="../resource/img/floating_production.png" />
                <img class="img_8 hide pt-page-scaleUp" src="../resource/img/pic_shadow_production.png" />
            </div>
        </div>

        <div class="page page-4-2 hide">
            <div class="wrap">
                <img class="img_1 hide pt-page-flipInLeft" src="../resource/img/introduction_production.png" />
                <img class="img_2 hide pt-page-flipInLeft" src="../resource/img/btn_production.png" />
                <img class="img_3 hide pt-page-flipInLeft" src="../resource/img/dot2.png" />
                <img class="img_6 hide pt-page-moveIconUp" src="../resource/img/icon_up.png" />
            </div>
        </div>
    </div>
    <div class="pageGroup">
        <div class="page page-5-1 hide">
            <div class="wrap">
                <img class="img_1 hide pt-page-rotateCubeBottomIn" src="../resource/img/pic_back.png" />
                <img class="img_2 hide pt-page-rotateCubeTopIn" src="../resource/img/btn_join.png" />
            </div>
        </div>
    </div>

</div>
<!--<script src="../resource/js/zepto.min.js"></script>-->
<script src="../resource/js/jquery-1.11.3.min.js"></script>
<script src="../resource/js/touch.js"></script>
<script src="../resource/js/index.js"></script>
<script>
    window.onload = function(){
        var swiper = new Swiper('.container',{});
    }
</script>
</body>
</html>
